@using System.Text.RegularExpressions

<MudDialog>
    <DialogContent>
        <MudPaper Elevation="0" Class="pa-0">
            <MudText Typo="Typo.subtitle1" Class="mb-2">@Title</MudText>
            <MudPaper Class="pa-4 mud-background-gray" Style="max-height: 300px; overflow-y: auto;" Elevation="0">
                <MudText Style="white-space: pre-wrap; font-family: monospace;">@messageHtml</MudText>
            </MudPaper>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Close">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = null!;
    
    [Parameter] public string Title { get; set; } = "Error Details";
    [Parameter] public string Message { get; set; } = "";
    private MarkupString messageHtml => FormatErrorMessage(Message);
    private void Close() => MudDialog.Close();

    private MarkupString FormatErrorMessage(string message)
    {
        var formattedMessage = Regex.Replace(message, @"(ERROR \d+)(\s*\()(.+?)(\))", "<span style='color: red;'>$1</span>$2<span style='color: #F57C00;'>$3</span>$4");
        formattedMessage = Regex.Replace(formattedMessage, @"(at|in) ([\/\\][^:\s]+)", "$1 <span style='color: #2196F3;'>$2</span>");
        formattedMessage = Regex.Replace(formattedMessage, @"(at .+?\..+?\..+?\(.+?\))", "<span style='color: #9C27B0;'>$1</span>");

        return new MarkupString(formattedMessage);
    }
}